# ASSIGNMENT OF REAL_TIME_DATA_ANALYSIS OF IPL DATA

In [96]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot

## 1st part of assignment

In [97]:
df=pd.read_csv(r'C:\Users\91926\Downloads\Ball_by_Ball.csv')

In [196]:
df.head(5)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,,,

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136590 entries, 0 to 136589
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Match_Id                  136590 non-null  int64
 1   Innings_Id                136590 non-null  int64
 2   Over_Id                   136590 non-null  int64
 3   Ball_Id                   136590 non-null  int64
 4   Team_Batting_Id           136590 non-null  int64
 5   Team_Bowling_Id           136590 non-null  int64
 6   Striker_Id                136590 non-null  int64
 7   Striker_Batting_Position  136590 non-null  int64
 8   Non_Striker_Id            136590 non-null  int64
 9   Bowler_Id                 136590 non-null  int64
 10  Batsman_Scored            136590 non-null  object
 11  Extra_Type                136590 non-null  object
 12  Extra_Runs                136590 non-null  object
 13  Player_dissimal_Id        136590 non-null  object
 14  Dissimal_Type             136590 non-null  object
 15  Fielder_Id                136590 non-null  object
dtypes: int64(10), object(6)
memory usage: 16.7+ MB

### Top 5 bowler_Id who took maximum wickets

In [100]:
df['Dissimal_Type'].unique()

array([' ', 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

In [101]:
data=df[(df['Dissimal_Type']!=' ')&(df['Dissimal_Type']!='run out')]

In [195]:
data.head(3)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
33,335987,1,6,2,1,2,1,1,2,15,0,,,1,caught,9
74,335987,1,13,1,1,2,3,3,2,9,0,,,3,caught,14
106,335987,1,18,1,1,2,4,4,2,13,0,,,4,caught,10

In [103]:
data.groupby('Bowler_Id')['Bowler_Id'].count().sort_values(ascending=False).head(5)

Bowler_Id
194    120
50     107
67     101
136    100
71      98
Name: Bowler_Id, dtype: int64

### Top 5 Player_id who hit maximum four

In [104]:
data1=df[df['Batsman_Scored']=='4']

In [194]:
data1.head(3)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
8,335987,1,2,2,1,2,2,2,1,15,4,,,,,
9,335987,1,2,3,1,2,2,2,1,15,4,,,,,
11,335987,1,2,5,1,2,2,2,1,15,4,,,,,

In [105]:
max_four=data1.groupby('Striker_Id')['Striker_Id'].count().sort_values(ascending=False).head()
max_four

Striker_Id
40    422
8     360
21    360
42    348
46    341
Name: Striker_Id, dtype: int64

### Top 5 Player_id who hit maximum six

In [106]:
data2=df[df['Batsman_Scored']=='6']

In [107]:
max_six=data2.groupby('Striker_Id')['Striker_Id'].count().sort_values(ascending=False).head()

In [108]:
max_six

Striker_Id
162    252
57     164
21     161
8      148
31     143
Name: Striker_Id, dtype: int64

### Top 5 Player_id who scored maximum runs

In [109]:
df['Batsman_Scored'].unique()

array(['0', '4', '6', '1', '2', 'Do_nothing', '5', '3', ' '], dtype=object)

In [110]:
data3=df[(df['Batsman_Scored']!='Do_nothing')&(df['Batsman_Scored']!=' ')]

In [193]:
data3.head(3)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,

In [112]:
data3['Batsman_Scored'].unique()

array(['0', '4', '6', '1', '2', '5', '3'], dtype=object)

In [113]:
data3['Batsman_Scored']=pd.to_numeric(data3['Batsman_Scored'])

C:\Users\91926\AppData\Local\Temp\ipykernel_32528\3823168946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['Batsman_Scored']=pd.to_numeric(data3['Batsman_Scored'])

In [114]:
max_run=data3.groupby('Striker_Id')['Batsman_Scored'].sum().sort_values(ascending=False).head(5)

In [115]:
max_run

Striker_Id
21     4106
8      4105
57     3874
40     3634
162    3447
Name: Batsman_Scored, dtype: int64

### Top 5 Player_id who faced maximum balls

In [116]:
df['Extra_Type'].unique()

array(['legbyes', ' ', 'wides', 'byes', 'noballs', 'penalty'],
      dtype=object)

In [185]:
data4=df[(df['Extra_Type']!='wides')&(df['Extra_Type']!='noballs')]

In [192]:
data4.head(3)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,

In [119]:
data4['Extra_Type'].unique()

array(['legbyes', ' ', 'byes', 'penalty'], dtype=object)

In [120]:
max_ball_faced=data4.groupby('Striker_Id')['Striker_Id'].count().sort_values(ascending=False).head()

In [121]:
max_ball_faced

Striker_Id
8     3156
21    2955
57    2943
40    2939
46    2640
Name: Striker_Id, dtype: int64

### Top 5 Player_id who wasted maximum balls

In [202]:
data4['Batsman_Scored'].unique()

array(['0', '4', '6', '1', '2', 'Do_nothing', '5', '3', ' '], dtype=object)

In [122]:
data5=df[df['Batsman_Scored']=='0']

In [123]:
data5.head(5)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,,,

In [124]:
wasted_max_balls=data5.groupby('Striker_Id')['Striker_Id'].count().sort_values(ascending=False).head(5)

In [125]:
wasted_max_balls

Striker_Id
8      1191
40     1166
46     1089
162    1088
57     1081
Name: Striker_Id, dtype: int64

In [126]:
df1=pd.read_csv(r'C:\Users\91926\Downloads\Player - Player.csv')

In [127]:
df1.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [130]:
bowler_id_change=df.rename(columns={'Bowler_Id':'Player_Id'})

In [191]:
bowler_id_change.head(2)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Player_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,

In [132]:
merged_data=pd.merge(bowler_id_change,df1,on='Player_Id')

In [190]:
merged_data.head(2)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Player_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,...,Player_dissimal_Id,Dissimal_Type,Fielder_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,335987,1,1,1,1,2,1,1,2,14,...,,,,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,335987,1,1,2,1,2,2,2,1,14,...,,,,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN

In [134]:
merged_data['Dissimal_Type'].unique()

array([' ', 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

## 2nd part of assignment

### Top 5 players name taken maximum wickets

In [137]:
max_wicket_merged_data=merged_data[(merged_data['Dissimal_Type']!=' ')&(merged_data['Dissimal_Type']!='run out')&(merged_data['Dissimal_Type']!='retired hurt')]

In [138]:
max_wicket_merged_data['Dissimal_Type'].unique()

array(['caught', 'bowled', 'lbw', 'stumped', 'caught and bowled',
       'hit wicket', 'obstructing the field'], dtype=object)

In [155]:
max_wicket=max_wicket_merged_data.groupby(['Player_Name','Player_Id'])['Player_Name'].count().sort_values(ascending=False).head(5)

In [156]:
max_wicket

Player_Name      Player_Id
SL Malinga       194          120
Harbhajan Singh  50           107
PP Chawla        67           101
A Mishra         136          100
DJ Bravo         71            98
Name: Player_Name, dtype: int64

### Player names who hit maximum fours

In [189]:
df.head(2)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,

In [162]:
max=df.rename(columns={'Striker_Id':'Player_Id'})

In [163]:
merged_data=pd.merge(max,df1,on='Player_Id')

In [188]:
merged_data.head(2)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Player_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,...,Player_dissimal_Id,Dissimal_Type,Fielder_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,335987,1,1,1,1,2,1,1,2,14,...,,,,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,335987,1,1,2,1,2,2,2,1,14,...,,,,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN

In [166]:
hit_four=merged_data[merged_data['Batsman_Scored']=='4']

In [169]:
max_four_player=hit_four.groupby(['Player_Id','Player_Name'])['Player_Name'].count().sort_values(ascending=False).head()

In [170]:
max_four_player

Player_Id  Player_Name
40         G Gambhir      422
8          V Kohli        360
21         SK Raina       360
42         S Dhawan       348
46         RV Uthappa     341
Name: Player_Name, dtype: int64

### Players who hit maximum sixes

In [187]:
merged_data.head(2)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Player_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,...,Player_dissimal_Id,Dissimal_Type,Fielder_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,335987,1,1,1,1,2,1,1,2,14,...,,,,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,335987,1,1,2,1,2,2,2,1,14,...,,,,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN

In [173]:
hit_six=merged_data[merged_data['Batsman_Scored']=='6']

In [174]:
max_six_player=hit_six.groupby(['Player_Id','Player_Name'])['Player_Name'].count().sort_values(ascending=False).head()

In [175]:
max_six_player

Player_Id  Player_Name
162        CH Gayle       252
57         RG Sharma      164
21         SK Raina       161
8          V Kohli        148
31         YK Pathan      143
Name: Player_Name, dtype: int64

### Players who hit maximum runs

In [176]:
merged_data['Batsman_Scored'].unique()

array(['0', '4', '6', '1', '2', 'Do_nothing', '5', '3', ' '], dtype=object)

In [177]:
d=merged_data[(merged_data['Batsman_Scored']!='Do_nothing')&(df['Batsman_Scored']!=' ')]

In [178]:
d['Batsman_Scored'].unique()

array(['0', '4', '6', '1', '2', '5', '3'], dtype=object)

In [180]:
d['Batsman_Scored']=pd.to_numeric(d['Batsman_Scored'])

C:\Users\91926\AppData\Local\Temp\ipykernel_32528\3662206438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Batsman_Scored']=pd.to_numeric(d['Batsman_Scored'])

In [183]:
max_runs=d.groupby(['Player_Id','Player_Name'])['Batsman_Scored'].sum().sort_values(ascending=False).head()

In [184]:
max_runs

Player_Id  Player_Name
21         SK Raina       4106
8          V Kohli        4105
57         RG Sharma      3874
40         G Gambhir      3634
162        CH Gayle       3447
Name: Batsman_Scored, dtype: int64

### Players who faced maximum balls

In [197]:
merged_data['Extra_Type'].unique()

array(['legbyes', ' ', 'wides', 'byes', 'noballs', 'penalty'],
      dtype=object)

In [198]:
balls=merged_data[(merged_data['Extra_Type']!='wides')&(merged_data['Extra_Type']!='noballs')]

In [199]:
balls['Extra_Type'].unique()

array(['legbyes', ' ', 'byes', 'penalty'], dtype=object)

In [200]:
max_balls_faced=balls.groupby(['Player_Id','Player_Name'])['Player_Id'].count().sort_values(ascending=False).head()

In [201]:
max_balls_faced

Player_Id  Player_Name
8          V Kohli        3156
21         SK Raina       2955
57         RG Sharma      2943
40         G Gambhir      2939
46         RV Uthappa     2640
Name: Player_Id, dtype: int64

### Players who wasted maximum balls

In [205]:
max_balls=merged_data[merged_data['Batsman_Scored']=='0']

In [206]:
wasted_max_balls=max_balls.groupby(['Player_Name','Player_Id'])['Player_Id'].count().sort_values(ascending=False).head()

In [207]:
wasted_max_balls

Player_Name  Player_Id
V Kohli      8            1191
G Gambhir    40           1166
RV Uthappa   46           1089
CH Gayle     162          1088
SK Raina     21           1081
Name: Player_Id, dtype: int64

## 3rd part of assignment

### Top 5 Stadiums which hosted maximum matches

In [209]:
Match=pd.read_csv(r'C:\Users\91926\Downloads\Match - Match.csv')

In [210]:
Match.head(5)

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,18-Apr-08,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,19-Apr-08,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,19-Apr-08,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India
3,335990,20-Apr-08,7,2,1,Wankhede Stadium,7,bat,0,1,0,by wickets,5.0,2.0,11.0,473,476,Mumbai,India
4,335991,20-Apr-08,1,8,1,Eden Gardens,8,bat,0,1,0,by wickets,5.0,1.0,4.0,474,486,Kolkata,India

In [212]:
max_host_stadium=Match.groupby('Venue_Name')['Venue_Name'].count().sort_values(ascending=False).head()

In [213]:
max_host_stadium

Venue_Name
M Chinnaswamy Stadium              58
Eden Gardens                       54
Feroz Shah Kotla                   53
Wankhede Stadium                   49
MA Chidambaram Stadium, Chepauk    48
Name: Venue_Name, dtype: int64

## 4th part of assignment

In [216]:
data=pd.read_csv(r'C:\Users\91926\Downloads\Team - Team.csv')

In [218]:
data

    Team_Id                    Team_Name Team_Short_Code
0         1        Kolkata Knight Riders             KKR
1         2  Royal Challengers Bangalore             RCB
2         3          Chennai Super Kings             CSK
3         4              Kings XI Punjab            KXIP
4         5             Rajasthan Royals              RR
5         6             Delhi Daredevils              DD
6         7               Mumbai Indians              MI
7         8              Deccan Chargers              DC
8         9         Kochi Tuskers Kerala             KTK
9        10                Pune Warriors              PW
10       11          Sunrisers Hyderabad             SRH
11       12      Rising Pune Supergiants             RPS
12       13                Gujarat Lions              GL

In [222]:
data1= Match.rename(columns={'Team_Name_Id':'Team_Id'})

In [223]:
data1.head(3)

,Match_Id,Match_Date,Team_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,18-Apr-08,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,19-Apr-08,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,19-Apr-08,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India

In [225]:
team_data=pd.merge(data,data1,on='Team_Id')

In [226]:
team_data.head(3)

,Team_Id,Team_Name,Team_Short_Code,Match_Id,Match_Date,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,...,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,1,Kolkata Knight Riders,KKR,335991,20-Apr-08,8,1,Eden Gardens,8,bat,...,1,0,by wickets,5.0,1.0,4.0,474,486,Kolkata,India
1,1,Kolkata Knight Riders,KKR,336002,29-Apr-08,7,1,Eden Gardens,1,bat,...,1,0,by wickets,7.0,7.0,44.0,474,479,Kolkata,India
2,1,Kolkata Knight Riders,KKR,336015,08-May-08,2,1,Eden Gardens,1,bat,...,1,0,by runs,5.0,1.0,1.0,470,475,Kolkata,India

### Maximum toss winning team

In [230]:
max_toss_win=team_data.groupby(['Team_Id','Team_Name'])['Toss_Winner_Id'].count().sort_values(ascending=False).head(1)

In [231]:
max_toss_win

Team_Id  Team_Name
2        Royal Challengers Bangalore    78
Name: Toss_Winner_Id, dtype: int64

### Maximum match winnig team

In [238]:
team_data['Match_Winner_Id'].unique()

array([ 1.,  7.,  3.,  5.,  4.,  9.,  2.,  6., 10., 13.,  8., 11., nan,
       12.])

In [239]:
max_match_win_team=team_data.groupby(['Team_Id','Team_Name'])['Match_Winner_Id'].count().sort_values(ascending=False).head(1)

In [240]:
max_match_win_team

Team_Id  Team_Name
2        Royal Challengers Bangalore    76
Name: Match_Winner_Id, dtype: int64

### Player who won maximum man of the match award

In [242]:
df2=df1.rename(columns={'Player_Id':'Man_Of_The_Match_Id'})

In [245]:
df3=pd.merge(df2,team_data,on='Man_Of_The_Match_Id')

In [249]:
max_man_of_the_match=df3.groupby(['Player_Name'])['Man_Of_The_Match_Id'].count().sort_values(ascending=False).head(1)

In [250]:
max_man_of_the_match

Player_Name
CH Gayle    17
Name: Man_Of_The_Match_Id, dtype: int64